<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Friends
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button block menuToggle>Toggle Menu</button>
</ion-content>